@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #4d5568;
  background: #f3f5f9;
}

.PhoneInputCountry {
  background-color: #e2e8f0;
  padding-left: 10px;
  padding-right: 10px;
}

.PhoneInputInput:focus {
  outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  /* display: none; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
